.darkmode {
  border-color: #444 !important;
  background: #303030 !important;
  color: #fff !important;
}

.lightdarkmode {
  border-color: #505050 !important;
  background: #505050 !important;
  color: #eee !important;
}
