<body class="app-grid">
  <header>
    <h1>Quiz App</h1>
  </header>
  <main class="app-grid__main">
    <section class="card">
      <div class="bookmark">
        <a href=""> <i class="fas fa-bookmark"></i> </a>
      </div>
      <h2>Question</h2>
      <h3>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, quia.
      </h3>
      <details>
        <summary>show answer</summary>
        <p>answer</p>
      </details>
      <button>answer 1</button>
      <button>answer 2</button>
      <button>answer 3</button>
      <button>answer 4</button>
    </section>
  </main>
</body>
