.navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: var(--color-white);
  padding: 12px 29px;
  border-radius: 10px;
  box-shadow: 0 2px 11px var(--shadow-grey);
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.navigation spam {
  text-decoration: none;
  line-height: 0;
  color: var(--color-lightblue);
}
