.bookmark {
  font-size: 36px;
  color: var(--color-darkblue);
  position: absolute;
  top: -5px;
  right: 20px;
  background: #abdae1;
  overflow: hidden;
}

.darkmode {
  border-color: #444;
  background: #303030;
  color: #fff;
}

.lightdarkmode {
  border-color: #505050;
  background: #505050;
  color: #eee;
}
