.header {
  position: fixed;
  width: 100vw;
  background-color: var(--color-darkblue);
  z-index: 1;
  color: var(--color-gray);
}

.header__title {
  text-transform: uppercase;
  font-size: var(--font-size-big);
  line-height: 1.5;
  text-align: center;
}

.darkmode {
  border-color: #444;
  background: #303030;
  color: #fff;
}
